<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317682157456-q874fbp1h7tdcajltvt3tnb36bbjof5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317682157456-q874fbp1h7tdcajltvt3tnb36bbjof5i</string>
	<key>API_KEY</key>
	<string>AIzaSyDK3BUdhpAOiuVssXD6o0EKEX7bL2sOLV8</string>
	<key>GCM_SENDER_ID</key>
	<string>317682157456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COMBBSCComp171P-014.NIBMConnect</string>
	<key>PROJECT_ID</key>
	<string>nibmconnect-6d810</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmconnect-6d810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317682157456:ios:498e4290c824b293</string>
	<key>DATABASE_URL</key>
	<string>https://nibmconnect-6d810.firebaseio.com</string>
</dict>
</plist>